body{
    padding: 0;
    margin: 0;
    background-color: black;
    color:white;
}
.text{
    width: 100vw;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    margin-top:30px;
    /* color:rgb(228, 25, 160); */
    color:black;
}
.container{
    width: 60vw;
    height: 81vh;
    margin: 0 auto 0 auto;
    margin-top:50px;
    border:2px solid white;
    
}
#display{
    height: 70px;
    text-align: right;
    line-height: 70px;
    border: 2px solid yellow;
    margin-bottom:50px;
    font-size:50px;
    
   
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    /* border: 2px solid blue; */
    line-height: 50px;
    margin-left:140px;


}
.buttons>div{
    /* border: 2px solid red; */
    border-radius:100%;
    /* background-color:violet; */
    opacity:0.8;
    gap:3px
    
}
.button{
    /* border: 1px solid white; */
    box-shadow:1px 2px 2px white;
    text-align:center;
    align-items:center;
    font-size: 3rem;
    cursor: pointer;
    height:70px;
    width:70px;
    margin-bottom:20px;
    padding:3px;

}
.button:hover{
    background-color: #5555ff;
    color: white;
}
#equal{
    background-color:orangered;
}
.hi{
    color:green;
}